
.navbar-inverse {
    background-color: #f4194c;
    border-color: #09d70c;
}
    .navbar-inverse .navbar-nav > li > a {
        color: #c2ee14;
    }
    .navbar-inverse .navbar-brand {
        color: #d8e30e;
    }
.course {
    list-style: none;
    margin-top: 100px;
}

    .course > li {
        position: relative;
        margin-bottom: 30px;
    }

.course > li .date {
    text-align: center;
    background-color: #f4194c;
    color: white;
  width: 60px;
 border-radius: 8px;
        }

        .course > li .details {
            position: absolute;
            top: 0;
            left: 70px;
        }


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

